Flask==3.1.2
gunicorn

# AI
openai-whisper==20250625
google-genai
torch
torchaudio

# Environment
python-dotenv

# HTTP
requests

# Audio/Video
ffmpeg-python
yt-dlp

# Utilities
numpy
tqdm
regex
click
Werkzeug
Jinja2

# Whisper dependencies
more-itertools
tiktoken
